<div *ngIf="this.firebaseAuth.isLoggedIn">
  <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
    <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center"
      style="background: linear-gradient(to right,rgb(202, 231, 231),rgb(48, 201, 212));">
      <a class="navbar-brand brand-logo" href="index.html">
        <span style="font-size: 20px; font-weight: bold;">Nahata Coaching</span>
      </a>
      <!-- <a class="navbar-brand brand-logo-mini" href="index.html">
        <img src="assets/images/logo-mini.svg" alt="logo" />
      </a> -->
    </div>
    <div class="navbar-menu-wrapper d-flex align-items-center">
      <!-- <ul class="navbar-nav navbar-nav-left header-links d-none d-md-flex">
        <li class="nav-item">
          <a href="#" class="nav-link">Schedule
            <span class="badge badge-primary ml-1">New</span>
          </a>
        </li>
        <li class="nav-item active">
          <a href="#" class="nav-link">
            <i class="mdi mdi-elevation-rise"></i>Reports</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="mdi mdi-bookmark-plus-outline"></i>Score</a>
        </li>
      </ul> -->
      <ul class="navbar-nav navbar-nav-right">
        <!-- <li class="nav-item dropdown" ngbDropdown>
          <a class="nav-link count-indicator dropdown-toggle" id="messageDropdown" ngbDropdownToggle>
            <i class="mdi mdi-file-document-box"></i>
            <span class="count">7</span>
          </a>
          <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" ngbDropdownMenu aria-labelledby="messageDropdown">
            <div class="dropdown-item">
              <p class="mb-0 font-weight-normal float-left">You have 7 unread mails
              </p>
              <span class="badge badge-info badge-pill float-right">View all</span>
            </div>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item preview-item">
              <div class="preview-thumbnail">
                <img src="assets/images/faces/face4.jpg" alt="image" class="profile-pic">
              </div>
              <div class="preview-item-content flex-grow">
                <h6 class="preview-subject ellipsis font-weight-medium">David Grey
                  <span class="float-right font-weight-light small-text">1 Minutes ago</span>
                </h6>
                <p class="font-weight-light small-text">
                  The meeting is cancelled
                </p>
              </div>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item preview-item">
              <div class="preview-thumbnail">
                <img src="assets/images/faces/face2.jpg" alt="image" class="profile-pic">
              </div>
              <div class="preview-item-content flex-grow">
                <h6 class="preview-subject ellipsis font-weight-medium">Tim Cook
                  <span class="float-right font-weight-light small-text">15 Minutes ago</span>
                </h6>
                <p class="font-weight-light small-text">
                  New product launch
                </p>
              </div>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item preview-item">
              <div class="preview-thumbnail">
                <img src="assets/images/faces/face3.jpg" alt="image" class="profile-pic">
              </div>
              <div class="preview-item-content flex-grow">
                <h6 class="preview-subject ellipsis font-weight-medium"> Johnson
                  <span class="float-right font-weight-light small-text">18 Minutes ago</span>
                </h6>
                <p class="font-weight-light small-text">
                  Upcoming board meeting
                </p>
              </div>
            </a>
          </div>
        </li> -->

        <!-- Student Chat Notifications -->
        <li style="margin-right: 80px;"  class="nav-item dropdown" ngbDropdown >
          <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" ngbDropdownToggle>
            <i class="mdi mdi mdi-bell"></i>
            <span *ngIf="this.notificationLength > 0" class="count"> {{ this.notificationLength }} </span>
          </a>

          <div  class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
            ngbDropdownMenu aria-labelledby="notificationDropdown">
            <div *ngIf="this.notificationLength" class="dropdown-item">
              <p class="mb-0 font-weight-normal float-left">
                You have {{ this.notificationLength }} new notifications.
              </p>
            </div>
            <div *ngIf="!this.notificationLength" class="dropdown-item">
              <p class="mb-0 font-weight-normal float-left">You have no new notification.
              </p>
              <!-- <span class="badge badge-pill badge-warning float-right">View all</span> -->
            </div>

              <button (click)="loadChatComponent(notification.senderName, notification.senderId, notification.internalChatId, notification.status)"
                *ngFor="let notification of this.notificationList" class="dropdown-item preview-item">

                  <div  *ngIf="notification.status" class="preview-thumbnail">
                    <div class="preview-icon bg-info">
                      <i class="mdi mdi-email-outline mx-0"></i>
                    </div>
                  </div>
                  <div  *ngIf="notification.status" class="preview-item-content">
                    <h6 class="preview-subject font-weight-medium"> Message by {{ notification.senderName|titlecase }} </h6>
                    <p class="font-weight-light small-text">
                      {{ notification.entryDate|date: 'shortTime' }} | {{ notification.entryDate| date }}
                    </p>
                  </div>


              </button>
            <!-- </div> -->
            <div class="dropdown-divider"></div>
          </div>

        </li>
        <li style="margin-right: 180px;" class="nav-item dropdown d-none d-xl-inline-block" ngbDropdown>
          <a class="nav-link dropdown-toggle" id="UserDropdown" ngbDropdownToggle>
            <span class="profile-text">Hello, Admin</span>
            <img class="img-xs rounded-circle" src="/assets/images/navbar_icon.png" alt="Profile image">
          </a>
          <div class="dropdown-menu dropdown-menu-right navbar-dropdown" ngbDropdownMenu aria-labelledby="UserDropdown">
            <a class="dropdown-item p-0">
              <div class="d-flex border-bottom">
              </div>
            </a>
            <button style="margin-top: 15px;" class="dropdown-item" (click)="this.firebaseAuth.logout()">
              <img src="https://img.icons8.com/material-outlined/16/000000/export.png"/>
              &nbsp;&nbsp;
              Sign Out
            </button>
          </div>
        </li>
      </ul>
      <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" (click)="toggleOffcanvas()">
        <span class="mdi mdi-menu"></span>
      </button>
    </div>
  </nav>
</div>
