<div class="row">
  <div class="col-lg-5 grid-margin card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title" style="font-size: 15px; font-weight: bold;"> Icon on App </h4>
          <div class="form-group row" style="margin-top: 20px;">
            <div style="margin-bottom: 20px;" *ngIf="this.imageUrl">
              <img [src]="this.imageUrl" width="400px" height="300px">
              <button style="margin-top: 10px; margin-left: 130px;" type="button" class="btn btn-danger" (click)="deleteIcon()">
                <i class="mdi mdi-delete"></i>
                Delete
              </button>
            </div>
            <div style="margin-bottom: 20px; margin-left: 13px; color: blue;" *ngIf="!this.imageUrl">
              <h5> Default Icon Set. </h5>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-7 grid-margin card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title" style="font-size: 15px; font-weight: bold;"> Edit Label ,Moto & Icon </h4>
          <p class="card-description">
            You can edit the following fields :
          </p>

          <form
            class="forms-sample"
            noValidate
            [formGroup]="addBannerControl"
            (ngSubmit)="uploadFile()">
            <div class="form-group row" style="margin-top: 40px">
              <label for="exampleInputEmail2" class="col-sm-3 col-form-label">
                Title
              </label>
              <div class="col-sm-9">
                <input
                  type="text"
                  class="form-control"
                  id="exampleInputEmail2"
                  placeholder="Enter title"
                  name="label"
                  [value] = "this.label"
                  formControlName="label"
                  (click)="hideLabel1()" />
              </div>
            </div>
            <div class="form-group row">
              <label for="exampleInputPassword2" class="col-sm-3 col-form-label">
                Moto
              </label>
              <div class="col-sm-9">
                <input
                  type="text"
                  class="form-control"
                  id="exampleInputPassword2"
                  placeholder="Enter moto"
                  name="moto"
                  [value] = "this.moto"
                  formControlName="moto"
                  (click)="hideLabel1()">
              </div>
            </div>

            <div class="form-group row">
              <div class="col-sm-12" >
                <input type="file" data-max-size="512" (change)="handleFiles($event)" accept=".png,.jpg,.jpeg" style="font-size: 15px;"
                  name="file" formControlName="image" (click)="hideLabel1()"/>
              </div>
            </div>

            <div style="margin-top: 15px;" *ngIf="!this.showLabel && this.uploadLabel">
              <span style="color: blue;  letter-spacing: 2px; font-size: 14px;">
                Uploading ....
              </span>
          </div>

            <div *ngIf="this.showLabel" style="width: 300px; margin-top: 15px;"  class="alert alert-fill-success" role="alert">
              <i class="mdi mdi-alert-circle"></i>
              Upload Successfull.
            </div>

            <div style="margin-top: 30px">
              <button type="submit" class="btn btn-success" >
                <i class="mdi mdi-cloud-download"></i>
                Upload
               </button>
              <!-- <button class="btn btn-light">Cancel</button> -->
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>

  <div class="column">
    <div class="col-md-12 grid-margin card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title" style="font-size: 15px; font-weight: bold;"> Add Other Details </h4>
          <!-- <p class="card-description">
            Please fill the below fields to add new course.
          </p> -->
          <form class="forms-sample" noValidate [formGroup]="addBannerControl" (ngSubmit)="addBasicDetails()">
            <div class="form-group row" style="margin-top: 20px;">
              <label for="exampleInputEmail2" class="col-sm-3 col-form-label"> Contact Number </label>
              <div class="col-sm-5">
                <input type="text" class="form-control" id="exampleInputEmail2" placeholder="Enter contact number"
                name="mobileNo" formControlName="mobileNo" [value] = "this.mobileNo" type="number" (click)="hideLabel2()">
              </div>
            </div>

            <div class="form-group row">
              <label for="exampleInputEmail2" class="col-sm-3 col-form-label"> E-Mail </label>
              <div class="col-sm-5">
                <input type="text" class="form-control" id="exampleInputEmail2" placeholder="Enter email"
                name="email" formControlName="email" [value] = "this.email" type="text" (click)="hideLabel2()">
              </div>
            </div>

            <div class="form-group row">
              <label for="exampleInputPassword2" class="col-sm-3 col-form-label"> Address </label>
              <div class="col-sm-5">
                <input type="text" class="form-control" id="exampleInputPassword2" placeholder="Enter address"
                name="address" formControlName="address" [value] = "this.address" type="text" (click)="hideLabel2()">
              </div>
            </div>
            <div *ngIf="this.basicDetailLabel" style="width: 300px;"  class="alert alert-fill-success" role="alert">
              <i class="mdi mdi-alert-circle"></i>
              Details added Successfully.
            </div>
            <div style="margin-top: 30px;">
              <button type="submit" class="btn btn-success mr-4"> Save </button>
              <!-- <button class="btn btn-light">Cancel</button> -->
            </div>
          </form>
        </div>
      </div>
    </div>
</div>
