<div class="row">
  <div class="col-lg-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h2 style="font-size: 16px;" class="card-title">Courses List</h2>
        <p class="card-description">
          Select the course in which you want to add test
        </p>
        <div class="template-demo">
          <div ngbDropdown class="d-inline-block">
            <div>
              <button style="max-width: 100%; " class="btn btn-outline-primary" type="button"
                id="dropdownMenuOutlineButton1" ngbDropdownToggle>
                <span style="letter-spacing: 1px; word-spacing: 2px; font-size: 15px;" *ngIf="!this.showCourseName">
                  Select Course </span>
                <span style="letter-spacing: 1px; word-spacing: 2px; font-size: 15px;" *ngIf="this.showCourseName">
                  Course selected </span>
              </button>
            </div>
            <div ngbDropdownMenu aria-labelledby="dropdownMenuOutlineButton1">
              <h6 class="dropdown-header">-Courses-</h6>
              <br />
              <ng-container *ngFor="let course of this.courseList; let i = index">
                <a *ngIf="course.status" style="
                    width: 40em;
                    font-size: 14px;
                    word-spacing: 3px;
                    letter-spacing: 1px;" class="dropdown-item"
                  (click)="getCourseId(course.courseName, course.courseCode, course.courseId, course.subject)">
                  {{ course.courseCode }} - {{ course.courseName }}
                </a>
                <div class="dropdown-divider"></div>
              </ng-container>
            </div>
            <div *ngIf="this.courseCode" style="margin-top: 20px; color: blue; font-size: 14px;">
              <label> Course Selected : </label>
              {{ this.courseCode}} - {{ this.courseName }}
            </div>

          </div>
        </div>
      </div>

      <!-- Subject List -->
      <div class="card-body">
        <h2 style="font-size: 16px;" class="card-title">Subject List</h2>
        <p class="card-description">
          Select the subject in which you want to add test
        </p>
        <div class="template-demo">
          <div ngbDropdown class="d-inline-block">
            <div>
              <button style="max-width: 100%" class="btn btn-outline-primary" type="button"
                id="dropdownMenuOutlineButton1" ngbDropdownToggle>
                <span style="letter-spacing: 1px; word-spacing: 2px; font-size: 15px;" *ngIf="!this.showSubjectName">
                  Select Subject </span>
                <span style="letter-spacing: 1px; word-spacing: 2px; font-size: 15px;" *ngIf="this.showSubjectName">
                  Subject selected </span>
              </button>
            </div>
            <div ngbDropdownMenu aria-labelledby="dropdownMenuOutlineButton1">
              <h6 class="dropdown-header">-Subjects-</h6>
              <br />
              <ng-container *ngFor="let subject of this.subjectList; let i = index">
                <a *ngIf="subject.status" style="
                    width: 40em;
                    font-size: 14px;
                    word-spacing: 3px;
                    letter-spacing: 1px;" class="dropdown-item"
                  (click)="getSubjectId(subject.subjectName, subject.subjectCode, subject.subjectId, subject.test)">
                  {{ subject.subjectCode }} - {{ subject.subjectName }}
                </a>
                <div class="dropdown-divider"></div>
              </ng-container>
            </div>
            <div *ngIf="this.subjectCode" style="margin-top: 20px; color: blue; font-size: 14px;">
              <label> Subject Selected : </label>
              {{ this.subjectCode}} - {{ this.subjectName }}
            </div>
            <!-- <div *ngIf="!this.contains" style="margin-top: 20px; font-size: 14px;">
              <label style="color: red;"> There are no subjects in selected course. </label>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6 grid-margin card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title" style="font-size: 16px;"> Add Test </h4>
        <p class="card-description" style="color: red; font-size: 13px;">
          Note: You need to select course and subject to add test.
        </p>
        <form class="forms-sample" noValidate [formGroup]="addTestControl" (ngSubmit)="addTest()">
          <div class="form-group row" style="margin-top: 40px">
            <label for="exampleInputEmail2" class="col-sm-3 col-form-label">
              Test name
            </label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="exampleInputEmail2" placeholder="Enter test name" name="name"
                formControlName="name" required />
            </div>
          </div>
          <div class="form-group row">
            <label for="exampleInputPassword2" class="col-sm-3 col-form-label">
              Test Description
            </label>
            <div class="col-sm-9">
              <textarea rows="5" type="text" class="form-control" id="exampleInputPassword2"
                placeholder="Enter test description" name="description" formControlName="description" required>
                </textarea>
            </div>
          </div>
          <div class="form-group row">
            <label for="exampleInputEmail2" class="col-sm-3 col-form-label">
              Test Timings
            </label>
            <div class="col-sm-9">
              <input type="number" class="form-control" id="exampleInputEmail2"
                placeholder="Enter test timings (in minutes)" name="timings" formControlName="timings" required />
            </div>
          </div>
          <div style="margin-top: 30px">
            <button [disabled]=" !this.subjectId || this.addTestControl.invalid " type="submit"
              class="btn btn-success ">
              <i class="mdi mdi-cloud-download"></i>
              Add Test
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- Table -->
<div class="row">
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title"> Test </h4>
        <!-- <p class="card-description">
          Total subjects in subject
        </p> -->
        <div style="color: rgb(233, 39, 39);" *ngIf="!this.showTestLabel">
          No test in selected subject.
        </div>
        <div class="table-responsive">
          <div *ngIf="this.showTestLabel">
            <table class="table">
              <thead>
                <tr>
                  <th> SNO. </th>
                  <th> Name </th>
                  <th> Description </th>
                  <th> Timing(minutes) </th>
                  <th> Status </th>
                  <th> Add Questions </th>
                  <th> View Result </th>
                  <th> Edit </th>
                  <th> Delete </th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let test of this.testList; let i = index">
                  <tr>
                    <td>
                      {{ i + 1 }}
                    </td>
                    <td>
                      {{ test.testName }}
                    </td>
                    <td>
                      {{ test.testDescription }}
                    </td>
                    <td style="text-align: center;">
                      {{ test.testTimings }}
                    </td>
                    <td>
                      <span *ngIf="test.status">
                        <div class="form-check form-check-dark">
                          <label class="form-check-label">
                            <input style="height: 16px; width: 16px; cursor: pointer;" type="checkbox" checked
                              (click)="updateStatus(test.testId, test.status )">
                            <!-- <i class="input-helper"></i> -->
                          </label>
                        </div>
                      </span>
                      <span *ngIf="!test.status">
                        <div style="cursor: pointer;" class="form-check form-check-dark">
                          <label class="form-check-label">
                            <input style="height: 14px; width: 16px; cursor: pointer;" type="checkbox"
                              (click)="updateStatus(test.testId, test.status)" />
                            <!-- <i class="input-helper"></i> -->
                          </label>
                        </div>
                      </span>
                    </td>

                    <td>
                      <button style="font-size: 13px;" class="btn btn-xs btn-inverse-success btn-rounded btn-fw"
                        (click)="loadQuestionComponent(test.testId)">
                        Add Questions
                      </button>
                    </td>
                    <td>
                      <button style="font-size: 13px;" class="btn btn-xs btn-inverse-success btn-rounded btn-fw"
                        (click)="loadViewResult(test.testId, test.testName, test.totalMarks, test.testTimings)">
                        View Result
                      </button>
                    </td>

                    <!-- Edit -->
                    <td>
                      <button style="font-size: 13px;" class="btn btn-xs btn-inverse-success btn-rounded btn-fw"
                        (click)="open(mymodal, test)">
                        Edit Test
                      </button>
                      <!-- Dialog Content -->
                      <ng-template #mymodal let-modal>
                        <div *ngIf="this.test"
                          style="width: 400px; height: 350px; text-align: center; margin-left: 30px; margin-top: 20px;">
                          <h3> Edit Test </h3>
                          <form class="forms-sample" noValidate [formGroup]="editControl"
                            (ngSubmit)="editTest(courseId, subjectId, test.testId, test.testName, test.description, test.testTimings)">
                            <div class="form-group row" style="margin-top: 40px;">
                              <label for="exampleInputEmail2" class="col-sm-3 col-form-label"> Test Name </label>
                              <div class="col-sm-9">
                                <input type="text" class="form-control" id="exampleInputEmail2"
                                  placeholder="Enter course code" [value]="this.test.testName" name="name"
                                  formControlName="name" required>
                              </div>
                            </div>
                            <div class="form-group row">
                              <label for="exampleInputPassword2" class="col-sm-3 col-form-label"> Test Description
                              </label>
                              <div class="col-sm-9">
                                <textarea rows="5" type="text" class="form-control" id="exampleInputPassword2"
                                  placeholder="Enter test description" [value]="this.test.testDescription"
                                  name="description" formControlName="description" required>
                                </textarea>
                              </div>
                            </div>
                            <div class="form-group row">
                              <label for="exampleInputPassword2" class="col-sm-3 col-form-label"> Test Timings
                              </label>
                              <div class="col-sm-9">
                                <input type="text" class="form-control" id="exampleInputPassword2"
                                  placeholder="Enter course name" [value]="this.test.testTimings" name="timings"
                                  formControlName="timings" required>
                              </div>
                            </div>
                            <button style="margin-top: 10px;" type="submit" class="btn btn-success mr-4"> Edit Test
                            </button>
                          </form>
                        </div>
                      </ng-template>
                    </td>

                    <!-- Delete -->
                    <td>
                      <button style="font-size: 13px;" class="btn btn-xs btn-inverse-danger btn-rounded btn-fw"
                        (click)="openDelete(mymodal2, test)">
                        Delete Test
                      </button>
                      <ng-template #mymodal2 let-modal>
                        <div style=" height: 130px; align-items: center; margin-top: 50px; margin-left: 80px;">
                          <label> Are you sure you want to delete this test ?</label>
                          <button style="font-size: 13px; margin-left: 30px;"
                            class="btn btn-xs btn-inverse-success btn-rounded btn-fw"
                            (click)="deleteTest(courseId, subjectId, test.testId)">
                            Yes
                          </button>
                          &nbsp; &nbsp; &nbsp; &nbsp;
                          <button style="font-size: 13px;" class="btn btn-xs btn-inverse-danger btn-rounded btn-fw"
                            (click)="closeModal()">
                            Cancel
                          </button>
                        </div>
                      </ng-template>
                    </td>

                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
