 <div class="row">
  <!--<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Basic Tab</h4>
        <p class="card-description">Use class <code>.tab-basic</code> for basic styling</p>
        <ngb-tabset class="tab-basic">
          <ngb-tab title="Home">
            <ng-template ngbTabContent>
              <div class="row">
                <div class="col-md-4"><img class="img-fluid w-100 rounded" src="assets/images/samples/300x300/4.jpg" alt=""></div>
                <div class="col-md-8">
                  <h5 class="mb-3">Heading</h5>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi molestias iusto qui eos, vero provident ipsa neque! Molestiae, aperiam</p>
                </div>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod ipsa odio dolore perspiciatis laudantium repellat quae, facere, laboriosam omnis dolorem quaerat quis assumenda!</p>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Profile">
            <ng-template ngbTabContent>
              <div class="row">
                <div class="col-md-4"><img class="img-fluid w-100 rounded" src="assets/images/samples/300x300/7.jpg" alt=""></div>
                <div class="col-md-8">
                  <h5 class="mb-3">Heading</h5>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi molestias iusto qui eos, vero provident ipsa neque! Molestiae, aperiam</p>
                </div>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod ipsa odio dolore perspiciatis laudantium repellat quae, facere, laboriosam omnis dolorem quaerat quis assumenda!</p>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Contact">
            <ng-template ngbTabContent>
              <div class="row">
                <div class="col-md-4"><img class="img-fluid w-100 rounded" src="assets/images/samples/300x300/2.jpg" alt=""></div>
                <div class="col-md-8">
                  <h5 class="mb-3">Heading</h5>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi molestias iusto qui eos, vero provident ipsa neque! Molestiae, aperiam</p>
                </div>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod ipsa odio dolore perspiciatis laudantium repellat quae, facere, laboriosam omnis dolorem quaerat quis assumenda!</p>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
    </div>
  </div>
  <div class="col-md-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Tab With Icon</h4>
        <p class="card-description">Use class <code>.tab-basic</code></p>
        <ngb-tabset class="tab-basic">
          <ngb-tab>
            <ng-template ngbTabTitle>
              <i class="mdi mdi-home-outline"></i>Home
            </ng-template>
            <ng-template ngbTabContent>
              <div class="row">
                <div class="col-md-4"><img class="img-fluid w-100 rounded" src="assets/images/samples/300x300/1.jpg" alt=""></div>
                <div class="col-md-8">
                  <h5 class="mb-3">Heading</h5>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi molestias iusto qui eos, vero provident ipsa neque! Molestiae, aperiam</p>
                </div>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod ipsa odio dolore perspiciatis laudantium repellat quae, facere, laboriosam omnis dolorem quaerat quis assumenda!</p>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>
              <i class="mdi mdi-account-outline"></i>Profile
            </ng-template>
            <ng-template ngbTabContent>
              <div class="row">
                <div class="col-md-4"><img class="img-fluid w-100 rounded" src="assets/images/samples/300x300/6.jpg" alt=""></div>
                <div class="col-md-8">
                  <h5 class="mb-3">Heading</h5>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi molestias iusto qui eos, vero provident ipsa neque! Molestiae, aperiam</p>
                </div>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod ipsa odio dolore perspiciatis laudantium repellat quae, facere, laboriosam omnis dolorem quaerat quis assumenda!</p>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>
              <i class="mdi mdi-message-text-outline"></i>Contact
            </ng-template>
            <ng-template ngbTabContent>
              <div class="row">
                <div class="col-md-4"><img class="img-fluid w-100 rounded" src="assets/images/samples/300x300/3.jpg" alt=""></div>
                <div class="col-md-8">
                  <h5 class="mb-3">Heading</h5>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi molestias iusto qui eos, vero provident ipsa neque! Molestiae, aperiam</p>
                </div>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod ipsa odio dolore perspiciatis laudantium repellat quae, facere, laboriosam omnis dolorem quaerat quis assumenda!</p>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
    </div>
  </div>
  <div class="col-md-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Vertical Basic Tab</h4>
        <p class="card-description">Use class <code>.vertical-tab</code> for vertical tab</p>
        <ngb-tabset class="tab-basic vertical-tab">
          <ngb-tab title="Home">
            <ng-template ngbTabContent>
              <div class="row">
                <div class="col-md-4"><img class="img-fluid w-100 rounded" src="assets/images/samples/300x300/9.jpg" alt=""></div>
                <div class="col-md-8">
                  <h5 class="mb-3">Heading</h5>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi molestias iusto qui eos, vero provident ipsa neque! Molestiae, aperiam</p>
                </div>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod ipsa odio dolore perspiciatis laudantium repellat quae, facere, laboriosam omnis dolorem quaerat quis assumenda!</p>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Profile">
            <ng-template ngbTabContent>
              <div class="row">
                <div class="col-md-4"><img class="img-fluid w-100 rounded" src="assets/images/samples/300x300/10.jpg" alt=""></div>
                <div class="col-md-8">
                  <h5 class="mb-3">Heading</h5>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi molestias iusto qui eos, vero provident ipsa neque! Molestiae, aperiam</p>
                </div>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod ipsa odio dolore perspiciatis laudantium repellat quae, facere, laboriosam omnis dolorem quaerat quis assumenda!</p>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Contact">
            <ng-template ngbTabContent>
              <div class="row">
                <div class="col-md-4"><img class="img-fluid w-100 rounded" src="assets/images/samples/300x300/11.jpg" alt=""></div>
                <div class="col-md-8">
                  <h5 class="mb-3">Heading</h5>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi molestias iusto qui eos, vero provident ipsa neque! Molestiae, aperiam</p>
                </div>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod ipsa odio dolore perspiciatis laudantium repellat quae, facere, laboriosam omnis dolorem quaerat quis assumenda!</p>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
    </div>
  </div>
  <div class="col-md-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Vertical Tab With Icon</h4>
        <p class="card-description">Use class <code>.vertical-tab</code> for vertical tab</p>
        <ngb-tabset class="tab-basic vertical-tab">
          <ngb-tab>
            <ng-template ngbTabTitle>
              <i class="mdi mdi-home-outline"></i>Home
            </ng-template>
            <ng-template ngbTabContent>
              <div class="row">
                <div class="col-md-4"><img class="img-fluid w-100 rounded" src="assets/images/samples/300x300/14.jpg" alt=""></div>
                <div class="col-md-8">
                  <h5 class="mb-3">Heading</h5>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi molestias iusto qui eos, vero provident ipsa neque! Molestiae, aperiam</p>
                </div>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod ipsa odio dolore perspiciatis laudantium repellat quae, facere, laboriosam omnis dolorem quaerat quis assumenda!</p>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>
              <i class="mdi mdi-account-outline"></i>Profile
            </ng-template>
            <ng-template ngbTabContent>
              <div class="row">
                <div class="col-md-4"><img class="img-fluid w-100 rounded" src="assets/images/samples/300x300/5.jpg" alt=""></div>
                <div class="col-md-8">
                  <h5 class="mb-3">Heading</h5>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi molestias iusto qui eos, vero provident ipsa neque! Molestiae, aperiam</p>
                </div>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod ipsa odio dolore perspiciatis laudantium repellat quae, facere, laboriosam omnis dolorem quaerat quis assumenda!</p>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>
              <i class="mdi mdi-message-text-outline"></i>Contact
            </ng-template>
            <ng-template ngbTabContent>
              <div class="row">
                <div class="col-md-4"><img class="img-fluid w-100 rounded" src="assets/images/samples/300x300/2.jpg" alt=""></div>
                <div class="col-md-8">
                  <h5 class="mb-3">Heading</h5>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi molestias iusto qui eos, vero provident ipsa neque! Molestiae, aperiam</p>
                </div>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod ipsa odio dolore perspiciatis laudantium repellat quae, facere, laboriosam omnis dolorem quaerat quis assumenda!</p>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
    </div>
  </div>
  <div class="col-md-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Colored Tab</h4>
        <p class="card-description">Use class <code>.tab-solid</code> with <code>.tab-solid-*</code> for solid styled tab</p>
        <ngb-tabset class="tab-solid tab-solid-danger">
          <ngb-tab title="Home">
            <ng-template ngbTabContent>
              <div class="row">
                <div class="col-md-4"><img class="img-fluid w-100 rounded" src="assets/images/samples/300x300/3.jpg" alt=""></div>
                <div class="col-md-8">
                  <h5 class="mb-3">Heading</h5>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi molestias iusto qui eos, vero provident ipsa neque! Molestiae, aperiam</p>
                </div>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod ipsa odio dolore perspiciatis laudantium repellat quae, facere, laboriosam omnis dolorem quaerat quis assumenda!</p>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Profile">
            <ng-template ngbTabContent>
              <div class="row">
                <div class="col-md-4"><img class="img-fluid w-100 rounded" src="assets/images/samples/300x300/8.jpg" alt=""></div>
                <div class="col-md-8">
                  <h5 class="mb-3">Heading</h5>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi molestias iusto qui eos, vero provident ipsa neque! Molestiae, aperiam</p>
                </div>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod ipsa odio dolore perspiciatis laudantium repellat quae, facere, laboriosam omnis dolorem quaerat quis assumenda!</p>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Contact">
            <ng-template ngbTabContent>
              <div class="row">
                <div class="col-md-4"><img class="img-fluid w-100 rounded" src="assets/images/samples/300x300/10.jpg" alt=""></div>
                <div class="col-md-8">
                  <h5 class="mb-3">Heading</h5>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi molestias iusto qui eos, vero provident ipsa neque! Molestiae, aperiam</p>
                </div>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod ipsa odio dolore perspiciatis laudantium repellat quae, facere, laboriosam omnis dolorem quaerat quis assumenda!</p>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
    </div>
  </div> -->



  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title"> Enrollment request panel </h4>
        <ngb-tabset class="tab-solid tab-solid-primary">
          <ngb-tab>
            <ng-template ngbTabTitle >
              <i class="mdi mdi-home-outline"></i> Open Request
            </ng-template>
            <ng-template ngbTabContent>
              <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h2 class="card-title"> Student &nbsp; Record </h2>
                    <div class="d-flex flex-row-reverse bd-highlight mb-2">
                      <div class="p-2 bd-highlight">
                        <select (change)="onTableSizeChange($event)" class="custom-select">
                          <option *ngFor="let size of tableSizes" [ngValue]="size">
                            {{ size }}
                          </option>
                        </select>
                      </div>
                    </div>
                    <div class="table-responsive">
                      <table class="table table-bordered">
                        <thead>
                          <tr>
                            <!-- <th>
                              SNO.
                            </th> -->
                            <th>
                              Name of student
                            </th>
                            <th>
                              Course name
                            </th>
                            <th>
                              Course code
                            </th>
                            <th>
                              Enroll Status
                            </th>
                            <th>
                              Change Status
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <ng-container *ngFor="let student of this.studentsRecord; let i = index" >
                          <tr *ngIf="student.courseEnrollmentStatus == 'PENDING'">
                            <!-- <td>
                              {{ i + 1 }}
                            </td> -->
                            <td>
                               {{ student.name }}
                             </td>
                             <td>
                               {{ student.courseName }}
                             </td>
                             <td>
                               {{ student.courseCode }}
                             </td>
                             <td >
                               <span class="badge badge-warning">  {{ student.courseEnrollmentStatus }} </span>
                             </td>
                             <td>
                              <button style="font-size: 13px;"
                              class="btn btn-xs btn-inverse-success btn-rounded btn-fw" (click)="changeEnrollStatus(student.mobileNo, student.courseEnrollmentStatus)">
                                Accept
                              </button>
                             </td>
                            </tr>
                            </ng-container>
                        </tbody>
                      </table>
                      <pagination-controls
                        responsive="true"
                        previousLabel="Prev"
                        nextLabel="Next"
                        (pageChange)="onTableDataChange($event)">
                      </pagination-controls>
                    </div>
                  </div>
                </div>
              </div>

            </ng-template>
          </ngb-tab>
          <ngb-tab >
            <ng-template ngbTabTitle >
              <i class="mdi mdi-account-outline"></i> Close Request
            </ng-template>
            <ng-template ngbTabContent>
              <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h2 class="card-title"> Student &nbsp; Record </h2>
                    <div class="d-flex flex-row-reverse bd-highlight mb-2">
                      <div class="p-2 bd-highlight">
                        <select (change)="onTableSizeChange($event)" class="custom-select">
                          <option *ngFor="let size of tableSizes" [ngValue]="size">
                            {{ size }}
                          </option>
                        </select>
                      </div>
                    </div>
                    <div class="table-responsive">
                      <table class="table table-bordered">
                        <thead>
                          <tr>
                            <!-- <th>
                              SNO.
                            </th> -->
                            <th>
                              Name of student
                            </th>
                            <th>
                              Course name
                            </th>
                            <th>
                              Course code
                            </th>
                            <th>
                              Enroll Status
                            </th>
                            <th>
                              Change Status
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <ng-container *ngFor="let student of this.studentsRecord | paginate : {
                            itemsPerPage: tableSize,
                            currentPage: page,
                            totalItems: count
                          }; let i = index" >

                          <tr *ngIf="student.courseEnrollmentStatus != 'PENDING'">
                            <!-- <td>
                              {{ i + 1 }}
                            </td> -->
                            <td>
                               {{ student.name|titlecase }}
                             </td>
                             <td>
                               {{ student.courseName }}
                             </td>
                             <td>
                               {{ student.courseCode }}
                             </td>
                             <td >
                               <span *ngIf="student.courseEnrollmentStatus=='ACCEPTED'" class="badge badge-success">
                                 {{ student.courseEnrollmentStatus }}
                                </span>
                                <span *ngIf="student.courseEnrollmentStatus=='REJECTED'" class="badge badge-danger">
                                  {{ student.courseEnrollmentStatus }}
                                 </span>
                             </td>
                             <td>
                               <span *ngIf="student.courseEnrollmentStatus=='ACCEPTED'">
                                <button style="font-size: 13px;"
                                class="btn btn-xs btn-inverse-danger btn-rounded btn-fw" (click)="changeEnrollStatus(student.mobileNo, student.courseEnrollmentStatus)">
                                Reject
                              </button>
                               </span>
                               <span *ngIf="student.courseEnrollmentStatus=='REJECTED'">
                                <button style="font-size: 13px;"
                                class="btn btn-xs btn-inverse-success btn-rounded btn-fw" (click)="changeEnrollStatus(student.mobileNo, student.courseEnrollmentStatus)">
                                Accept
                              </button>
                               </span>
                             </td>
                            </tr>
                            </ng-container>
                        </tbody>
                      </table>
                      <pagination-controls
                      responsive="true"
                      previousLabel="Prev"
                      nextLabel="Next"
                      (pageChange)="onTableDataChange($event)">
                    </pagination-controls>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <!-- <ngb-tab>
            <ng-template ngbTabTitle>
              <i class="mdi mdi-message-text-outline"></i> Rejected
            </ng-template>
            <ng-template ngbTabContent>
              <div class="row">
                <div class="col-md-4"><img class="img-fluid w-100 rounded" src="assets/images/samples/300x300/8.jpg" alt=""></div>
                <div class="col-md-8">
                  <h5 class="mb-3">Heading</h5>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi molestias iusto qui eos, vero provident ipsa neque! Molestiae, aperiam</p>
                </div>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod ipsa odio dolore perspiciatis laudantium repellat quae, facere, laboriosam omnis dolorem quaerat quis assumenda!</p>
            </ng-template>
          </ngb-tab> -->
        </ngb-tabset>
      </div>
    </div>
  </div>
</div>
